.reload-button {
    display: flex;
    border-radius: 13px 0px 0px 13px;
    -webkit-border-radius: 13px 0px 0px 13px;
    -moz-border-radius: 13px 0px 0px 13px;
    align-items: flex-end;
    width:150px;
    height:30px;
    background-color: #215184;
    align-items: center;

}