.sort-button {
    display: flex;
    
    width:150px;
    height:30px;
    background-color: #215184;
    align-items: center;

}

.button-text {
    display:inline-flex;
    color:white;
    padding: 5px;
}